.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section {
    display: flex;
    flex-wrap: wrap;
}
.refreshed-news-photo{
    width:50%;
    height: 90%;
}