
  
  /* Add a background color and some padding around the form */
 .form-group{
    margin: 10px;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(1, 14, 15);
    border-radius: 3px;
    
 }
 .contact{
   display: flex;
   flex-direction: row;
 }
 .form-background{
    background-color: #7a777b;
    display: flex;
    justify-content: space-around;

 }
.cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
 .form-control{
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid ;
    border-radius: 3px;
    width: 50%;
 }
 @media (max-width: 600px) {
    .form-control {
       flex-direction: column-reverse;
    }
 }